
/**/

.page-hero{
	background-color: #37003c;    
    background-image: url(https://www.premierleague.com/resources/prod/df660c3-3506/i/bg-elements/heading-bg-desktop.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
}
.header-content{
	padding: 70px 80px;
}

.page-title{
	color: white;
	font-size: 50px;
	font-weight: 700;
}
.news-tag{
	color: #ff2882;	
}
.news-time{
	font-size: 15px;
	color: white;
	font-weight: 300;
}


.social-share{
	position: absolute;
	top: 50%;
	right: 10%;
	background: white;
	color: black;
	font-weight: bold;
	padding: 4px;
	border-radius: 5px;
}
.social-share i{
	margin-right: 3px;
}

.btn-share{
	padding: 3px;
}

.wrapper{
	padding: 80px 80px;
}

/*news content*/

.news-section{
	margin: -60px 0 100px;
	padding: 0px 80px;
}
.news-img{
	width: 100%;
}
.news-img img{
	width: 100%;
}
/*p{
	font-family: timenewsroman;
	font-size: 23px;
}*/

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/



.wrapper .form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
